/* ===============================
   RESET
================================ */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family);
    color: var(--text);
    background: var(--white);
    overflow-x: hidden;
    line-height: 1.7;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    transition: var(--transition);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

section {
    padding: var(--section-padding) 0;
}

.container {
    max-width: 1320px;
}